.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 175px 0.3fr 2.8fr 175px 175px;
    gap: 1px 0px;
    height:100%;
    width:100%;
    grid-auto-flow: row;
    grid-template-areas:
    "h1 h1 h1"
    "h2 h3 h4"
    "h2 h5 h4"
    "h6 h6 h4"
    "h7 h7 h7";
}



.h1 { grid-area: h1;text-align:left; background-color:lightskyblue;}

.he1 {font-size: 60px; position:relative;right:-20px; top:20px}

.w1	{background-color:white; width:50px; position:relative; left:1400px; top:-60px; text-align:center;}

.h4 { grid-area: h4; text-align:center; background-color:LightSalmon; font-size: 30px }

.p1 {position:relative;}

.pic {position:relative;}

.h3 { grid-area: h3; text-align:center; background-color:LightSeaGreen; font-size: 40px; }

.p2 { position:relative;}

.h6 { grid-area: h6; text-align:center; background-color:LightSeaGreen; font-size: 50px; }

.p3 {position:relative;}

.h2 { grid-area: h2; text-align:center; background-color:LightSalmon; font-size: 30px }

.menu{list-style-type:circle; text-align:left; position:relative;font-size: 40px;}

.h5 { grid-area: h5; text-align:center; background-color:white; font-size: 25px }

.h7 { grid-area: h7; text-align:left; background-color:lightskyblue; font-size: 100px; }

.foot {position:relative; margin-top:35px;}

.w2 { background-color:white; text-align:right; font-size:25px; width:100px; position:relative; left:1300px; bottom:125px;}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: #DDD;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}
