<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<p th:text="'Hello, ' + ${title} + '!'"></p>
<button><a href="/login" class="me-3 py-2 text-dark text-decoration-none">Log in</a></button>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>