<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit masonry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel=stylesheet href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Edit post</h1>
    <div th:each="element : ${masonry}" class="alert alert-info mt-2">
        <form method="post">
            <input type="file" name="file">
            <button type="submit" class="btn-success">Update post</button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>